/target
/classes
/checkouts
profiles.clj
!/docker/control/profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.vscode
/.idea
/store
*.iml
/tidb
.hgignore
.lein-repl-history
.nrepl-port
project
*.log
*.swp
.clj-kondo
.lsp
