[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0
general-log
general-log-file=queries.log
log-output=file

wsrep_on=ON
wsrep_provider=/usr/lib/galera3/libgalera_smm.so
wsrep_cluster_name="jepsen"
wsrep_cluster_address="%CLUSTER_ADDRESS%"
wsrep_sst_method=rsync
